<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SoundFilm-Genres</title>
  <link rel="shortcut icon" href="../assets/images/mngrm-black.png">
  <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="../css/font-awesome.css">
  <link href="../css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
  <main class="container-fluid bkg-darkblue">
    <nav class="col-12 col-sm-12 col-md-12 col-lg-12 bkg-white">
      <img  id="nav-logo" class="col-4 col-sm-4 col-md-2 col-lg-2 mb-20" src="../assets/images/logoblack.png" alt="logo">
      <i class="pull-right fa fa-bars"></i>
    </nav>
    <div class="text-center title">
      <h1 class="display-4 text-yellow"><strong>GENRES</strong></h1>
    </div>
    <div class="row text-center">
      <div class="col-sm-10 offset-1 ">
    <div id="action-genre" class="text-center genre mb-20">
      <a href="../views/pantalla-3.html">
        <img src="../assets/images/action.png" alt""/>
      </a>
    </div>
    <div id="adventure-genre" class="text-center genre mb-20">
      <a href="../views/pantalla-3.html">
        <img src="../assets/images/adventure.png" alt""/>
      </a>
    </div>
    <div id="animation-genre" class="text-center genre mb-20">
      <a href="../views/pantalla-3.html">
        <img src="../assets/images/animation.png" alt""/>
      </a>
    </div>
    <div id="art" class="text-center genre mb-20">
      <a href="../views/pantalla-3.html">
        <img src="../assets/images/art.png" alt""/>
      </a>
    </div>
    <div id="biopic-genre" class="text-center genre mb-20">
      <a href="../views/pantalla-3.html">
        <img src="../assets/images/biopic.png" alt""/>
      </a>
    </div>
    <div id="children-genre" class="text-center genre mb-20">
      <a href="../views/pantalla-3.html">
        <img src="../assets/images/children.png" alt""/>
      </a>
    </div>
    <div id="comedy-genre" class="text-center genre mb-20">
      <a href="../views/pantalla-3.html">
        <img src="../assets/images/comedy.png" alt""/>
      </a>
    </div>
    <div id="documentary-genre" class="text-center genre mb-20">
      <a href="../views/pantalla-3.html">
        <img src="../assets/images/documentary.png" alt""/>
      </a>
    </div>
    <div id="drama-genre" class="text-center genre mb-20">
      <a href="../views/pantalla-3.html">
        <img src="../assets/images/drama.png" alt""/>
      </a>
    </div>
    <div id="family-genre" class="text-center genre mb-20">
      <a href="../views/pantalla-3.html">
        <img src="../assets/images/family.png" alt""/>
      </a>
    </div>
    <div id="fantasy-genre" class="text-center genre mb-20">
      <a href="../views/pantalla-3.html">
        <img src="../assets/images/fantasy.png" alt""/>
      </a>
    </div>
    <div id="historic-genre" class="text-center genre mb-20">
      <a href="../views/pantalla-3.html">
        <img src="../assets/images/historic.png" alt""/>
      </a>
    </div>
    <div id="musical-genre" class="text-center genre mb-20">
      <a href="../views/pantalla-3.html">
        <img src="../assets/images/musical.png" alt""/>
      </a>
    </div>
    <div id="romance-genre" class="text-center genre mb-20">
      <a href="../views/pantalla-3.html">
        <img src="../assets/images/romance.png" alt""/>
      </a>
    </div>
    <div id="scifi-genre" class="text-center genre mb-20">
      <a href="../views/pantalla-3.html">
        <img src="../assets/images/scifi.png" alt""/>
      </a>
    </div>
    <div id="shortfilm-genre" class="text-center genre mb-20">
      <a href="../views/pantalla-3.html">
        <img src="../assets/images/shortfilm.png" alt""/>
      </a>
    </div>
    <div id="suspense-genre" class="text-center genre mb-20">
      <a href="../views/pantalla-3.html">
        <img src="../assets/images/suspense.png" alt""/>
      </a>
    </div>
    <div id="terror-genre" class="text-center genre mb-20">
      <a href="../views/pantalla-3.html">
        <img src="../assets/images/terror.png" alt""/>
      </a>
    </div>
    <div id="thriller-genre" class="text-center genre mb-20">
      <a href="../views/pantalla-3.html"
      <img src="../assets/images/thriller.png" alt""/>
    </a>
    </div>
  </div>
</div>
    <footer class="text-center">
      <div class="row ">
          <img src="../assets/images/logocolor.png" alt="logo" class="footer-logo">
      </div>
    </footer>

  </main>

  <!--SCRIPTS-->
  <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
  <script src="../js/jquery.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/app.js"></script>
</body>
</html>
