<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SoundFilm-Logout</title>
  <link rel="shortcut icon" href="../assets/images/mngrm-black.png">
  <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="../css/font-awesome.css">
  <link href="../css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
  <main class="container-fluid">
  <!--Logout logo-->
    <section id="logout-logo">
      <div class="row">
        <div class="col-sm-10 offset-1">
          <img src="../assets/images/logocolor.png" alt="logo">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 offset-1">
          <h2><strong>Come back soon!</strong></h2>
        </div>
      </div>
    </section>
<!--/Logout Logo-->
<!--Credits-->
    <section id="credits">
      <div class="row credit">
        <div class="col-sm-10 offset-1">
          <h2>CREDITS</h2>
          <h5>BRENDA MILIÁN</h5>
        </div>
      </div>
      <div class="row credit">
        <div class="col-sm-10 offset-1">
          <h5>ELZBETH BLANCO</h5>
        </div>
      </div>
      <div class="row credit">
        <div class="col-sm-10 offset-1">
          <h5>MARÍA CRAVIOTTO</h5>
        </div>
      </div>
      <div class="row credit">
        <div class="col-sm-10 offset-1">
          <h5>SONIA GAMA</h5>
        </div>
      </div>
    </section>
  </main>
<!--/Credits-->
  <footer id="logout-footer">
    <div class="row credit">
      <div class="col-sm-10 offset-1">
        <h3><strong>Produced By</strong></h3>
        <h2>Laboratoria</h2>
        <h5>2018</h5>
      </div>
    </div>
    <footer>
      <!--SCRIPTS-->
      <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
      <script src="../js/jquery.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <script src="../js/app.js"></script>
    </body>
    </html>
